# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.env
.venv
venv/

# Database
*.sqlite3
firewall.db

# Node (in case)
node_modules/
.npm/

# IDE
.vscode/
.idea/
